.quiz-select-language {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  min-height: 60vh;
}

.quiz-select-language-header {
  text-align: center;
  margin-bottom: 20px;
}

.quiz-select-language-header h1 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}

.quiz-select-language-header .mode-hint {
  font-size: 18px;
  color: #666;
  margin-top: 10px;
}

.quiz-select-language-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.quiz-select-language-container select {
  width: 220px;
  padding: 7px 13px;
  border: 1.5px solid #38b6ff;
  border-radius: 0px;
  font-size: 1rem;
  background: #fff;
  color: #262626;
  font-weight: 500;
  box-shadow: none;
  transition: border 0.2s;
}

.quiz-select-language-container select:focus {
  outline: 1.5px solid #38b6ff;
  box-shadow: none;
  border-radius: 0;
}

.quiz-select-language-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.quiz-select-language-info p {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
